@{
    ViewBag.Title = "About";
}
<div class="generalBackground aboutPageBackground">
    <div class="center">
        <h1 class="textCenter">This is about page, you will find all the information about world best cafe</h1>
        <p class="textCenter">World best cafe is an global fast food company, founded in 1940 as a restaurant operated by Haolong and his team, in San Bernardino, California, United States. They rechristened their business as a hamburger stand, and later turned the company into a franchise, with the Golden Arches logo being introduced in 1953 at a location in Phoenix, Arizona.</p>
    </div>
</div>