@{
    ViewBag.Title = "Contact";
}


<div class="generalBackground contactPageBackground">
    <div class="center">
        <h1 class="textCenter">This is contact page, you will find all the contact</h1>
        <p class="textCenter">Phone: 123-456-7890</p>
        <p class="textCenter">Email: contact@worldBestCafe.com</p>
    </div>
</div>