@{
    ViewBag.Title = "Home Page";
}
<div class="homePageBackground generalBackground">
    <div class="center">
        <h1 class="textCenter">World Best Cafe</h1>
        <p class="textCenter">Welcome to world best cafe. Here you will find the best foods in the world!</p>
    </div>
</div>