
@{
    ViewBag.Title = "Secret";
}


<div class="generalBackground secretPageBackground">
    <div class="center">
        <h1 class="textCenter">Congratulations You Found Secret Menu</h1>
    </div>
</div>